<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
<script src="JS\sidebar.jspo"></script>
<script src="JS\todo.js"></script>
<Script>
    fetch('/getHTMLC')
        .then(response => response.json())
        .then(data => {
            // console.log(data.HtmlContent);
            // alert('Success');
            DisplayExistingData(data.HtmlContent)
        })
        .catch(error => console.error('Error fetching HTMLC:', error));
    
    function DisplayExistingData(NEWHTML){
        document.body.innerHTML = NEWHTML;
    };
</Script>
</html>