<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="home-page">
        <div class="login-container">
            <form action="/signup", method="post">
                <h1>Sign Up</h1>
                <div class="email">
                    <input type="text" name="email" required="required" autocomplete="off">
                    <span>Email ID</span>
                </div>
                <div class="password">
                    <input type="password" name="Password" required="required">
                    <span>Password</span>
                </div>
                <div class="buttons">
                    <a href="main.html" class="login" style="text-align: center;"><button type="submit" class="signup">Sign Up</button></a>
                </div>
            </form>
        </div>
        <div class="image">
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>